html, body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, 'sans-serif' !important;
    background-color: #fafafa;
    color: #333;
}

genome-maps-element .color-1 {
    color: #5fc1fd;
}

genome-maps-element .color-2 {
    color: #285785;
}

jso-header .hover:hover {
    color: #fff;
}

jso-header a {
    transition: color 0.1s linear;
    color: #ddd;
    text-decoration: none;
}

jso-header a:hover {
    color: #5fc1fd;
}

jso-header {
    color: #ddd;
    background-color: #1c3d5d;
    font-weight: 300;
}

jso-footer {
    color: #ddd;
    background-color: #1c3d5d;
    font-weight: 300;
}

jso-help-menu {
    background-color: #1c3d5d;
}

jso-panel > .header{
    background-color: #224a71;
    color: #FFFFFF;
}

jso-panel,
jso-login,
jso-signup,
jso-profile,
jso-remember,
jso-opencga-browser,
jso-opencga-create-study,
jso-opencga-create-project,
jso-opencga-upload-file {
    background-color: #fafafa;
    color: #222;
    font-weight: normal;
}

