<link rel="import" href="gm-search-result.html">
<polymer-element name="gm-search" attributes="collapsible collapsed selectedSpecies">
    <template>
        <link rel="stylesheet" href="../../lib/jsorolla/src/lib/components/jso-style.css">
        <link rel="stylesheet" href="gm-panel.css">
        <style>
            :host {
                display: block;
                position: relative;
                box-sizing:border-box;
            }

            label {
                display: inline-block;
                color: #666;
                margin-top: 10px;
            }

            label::after {
                content: ':'
            }

            .container {
                padding: 0 10px 10px 10px;
            }

            textarea {
                resize: none;
                width: 100%;
                height: 100px;
            }

            .action {
                margin-top: 10px;
                /*background-color: #f5f5f5 !important;*/
                /*text-align: center;*/
            }

            .action:active {
                /*background-color: #445D76 !important;*/
                /*color: #fff !important;*/
            }
        </style>
        <div class="panel">
            <div class="header"
                 on-click="{{titleClick}}"
                 data-collapsible="{{collapsible}}"
                 data-collapsed="{{collapsed}}">
                Advanced search
            </div>
            <div class="container">
                <label> Search by any external reference </label>
                <textarea id="textarea"></textarea>

                <label> Result type </label>

                <div class="dropdown">
                    <div tabindex="-1" class="button">
                        {{selectedResultType}} &nbsp;
                    </div>
                    <ul>
                        <template repeat="{{resultType in resultTypes}}">
                            <li>
                                <div on-mousedown="{{handleResultTypeClick}}" data-option="{{resultType}}">
                                    {{resultType}}
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>

                <div class="button action" on-click="{{handleSearch}}">Search</div>

                <template if="{{response}}">
                    <label> Results </label>
                    <template repeat="{{resp in response}}">
                        <gm-search-result response="{{resp}}" on-feature="{{handleResultClick}}"></gm-search-result>
                    </template>
                </template>

            </div>
        </div>
    </template>
    <script>
        Polymer({
            created: function () {
                this.selectedResultType;
//                this.resultTypes = ['Genes', 'SNPs', 'Transcripts', 'Exons'];
                this.resultTypes = ['Genes', 'SNPs'];
                this.response;
            },
            // properties and methods here
            collapsed: false,
            collapsible: true,
            dragSrcEl: null,
            titleClick: function (e) {
                this.collapsed = !this.collapsed;
            },
            handleResultTypeClick: function (e) {
                this.selectedResultType = e.target.dataset.option;
            },
            handleResultClick: function (e) {
                this.fire('feature', e.detail);
            },
            handleSearch: function () {
                var me = this;
                var features = this.$.textarea.value.trim().toUpperCase().split("\n");

                if (features.length > 0 && this.selectedResultType) {
//                    var params = {
//                        limit : 10,
//                        skip:0
//                    };
                    var params = {};
                    var resource;
                    switch (this.selectedResultType) {
                        case 'Genes':
                            //genes
                            params['exclude'] = 'transcripts';
                            resource = 'info';
                            break;
                        case 'SNPs':
                            params['exclude'] = 'transcriptVariations,xrefs,samples';
                            resource = 'snp';
                            break;
                        case 'Transcripts':
                            params['exclude'] = 'transcripts.exons,transcripts.xrefs,transcripts.tfbs';
                            resource = 'transcript';
                            break;
                        case 'Exons':
                            params['exclude'] = 'transcripts.exons';
                            resource = 'exon';
                            break;
                    }
                    CellBaseManager.get({
                        species: this.selectedSpecies,
                        category: 'feature',
                        subCategory: 'gene',
                        query: features,
                        resource: resource,
                        params: params,
                        success: function (response) {
                            me.response = response.response;
                        }
                    });

                }
            }

        });
    </script>
</polymer-element>