<dom-module id="gm-status-bar">
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
        }
        #main > div > div{
            margin-left:10px;
        }
    </style>
    <template>
        <div id="main" class="jso-nosel horizontal layout">
            <div class="horizontal layout flex jso-txt">
                <content></content>
            </div>
            <div class="horizontal layout">
                <div id="mouseposition" class="jso-txt">
                    <span style$="{{computeBaseColor(mousePosition)}}">{{computeBase(mousePosition)}}</span>
                    <span>{{computeMousePosition(mousePosition)}}</span>
                </div>

                <div class="ocb-dropdown">
                    <div tabindex="-1" id="snpLegendButton" class="ocb-ctrl"> SNP legend <i class="fa fa-caret-up"></i></div>
                    <ul id="snpLegend" data-upward data-right>
                    </ul>
                </div>

                <div class="ocb-dropdown">
                    <div tabindex="-1" id="geneLegendButton" class="ocb-ctrl"> Gene legend <i class="fa fa-caret-up"></i></div>
                    <ul id="geneLegend" data-upward data-right>
                    </ul>
                </div>

                <div id="version" class="jso-txt" style="color:#435f7a;">
                    v<span>{{version}}</span>
                </div>
            </div>
        </div>
    </template>

</dom-module>
<script>
    Polymer({
        is: "gm-status-bar",
        properties: {
            version: {
                type: String
            },
            mousePosition: {
                type: Object
            }
        },
        ready: function () {
            this._setLegend(GENE_BIOTYPE_COLORS, this.$.geneLegend);
            this._setLegend(SNP_BIOTYPE_COLORS, this.$.snpLegend);
        },
        computeMousePosition: function (mousePosition) {
            return mousePosition.chromosome + ':' + Utils.formatNumber(mousePosition.mousePos);
        },
        computeBase: function (mousePosition) {
            return mousePosition.base;
        },
        computeBaseColor: function (mousePosition) {
            return 'color:' + SEQUENCE_COLORS[mousePosition.base];
        },
        _setLegend: function (biotypeColors, menu) {
            for (biotype in biotypeColors) {
                var color = biotypeColors[biotype];
                var li = document.createElement('li');
                li.setAttribute('data-text', 'true');

                var colorEl = document.createElement('div');
                colorEl.style.display = 'inline-block';
                colorEl.style.height = '12px';
                colorEl.style.width = '12px';
                colorEl.style.marginRight = '4px';
                colorEl.style.backgroundColor = color;

                var biotypeEl = document.createElement('span');
                biotypeEl.textContent = biotype;

                li.appendChild(colorEl);
                li.appendChild(biotypeEl);
                menu.appendChild(li);
            }
        }
    });
</script>