<polymer-element name="gm-track-menu-item" constructor="GmTrackMenuItem" attributes="track genomeViewer">
    <template>
        <style>
            :host {
                display: block;
                height: 100%;
            }

            #main {
                box-sizing: border-box;
                height: 23px;
            }

            /*#main:hover {*/
                /*background-color: #D1D9E3;*/
            /*}*/

            #visible {
                /*display: block;*/
                /*float: left;*/
                box-sizing: border-box;
                width: 20px;
                line-height: 21px;
                font-size: 17px;
                padding: 0px 3px;
                margin: 0px 2px;
                color: #435F7A;
            }

            #visible[data-visible=true]:before {
                font-family: 'FontAwesome';
                content: "\f046";
            }

            #visible[data-visible=false]:before {
                font-family: 'FontAwesome';
                content: "\f096";
            }

            #title {
                /*display: block;*/
                /*float: left;*/
                box-sizing: border-box;
                line-height: 21px;
                /*padding: 0px 5px;*/
                margin: 0px 2px;
                color: #333;
                /*background-color: #f2f2f2;*/
                font-size: inherit;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            #remove {
                /*float: right;*/
                /*display: inline-block;*/
                box-sizing: border-box;
                padding: 0px 3px;
                margin: 0px 2px;
                line-height: 21px;
                font-size: 18px;
                text-align: right;
                color: #435F7A;
            }

            #remove:hover {
                color: darkred;
            }

            #remove:after {
                font-family: 'FontAwesome';
                font-size: 0.8em;
                content: "\f00d";
            }

            [draggable] {
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                /*Required to make elements draggable in old WebKit*/
                -khtml-user-drag: element;
                -webkit-user-drag: element;
            }

        </style>
        <div horizontal layout id="main" draggable="true" on-mouseenter="{{handleMouseEnter}}" on-mouseleave="{{handleMouseLeave}}">
            <div id="visible" data-visible="{{track.visible}}" on-click="{{handleVisible}}">&nbsp;</div>
            <div flex id="title">{{track.title}}</div>
            <div id="remove" on-click="{{handleRemoveTrack}}"></div>
        </div>
    </template>
    <script>
        Polymer({
            created: function () {
                this.track;
            },
            handleVisible: function () {
                this.track.toggle();
            },
            handleMouseEnter: function () {
                this.track.fnTitleMouseEnter();
            },
            handleMouseLeave: function () {
                this.track.fnTitleMouseLeave();
            },
            handleRemoveTrack: function (e) {
                this.genomeViewer.removeTrack(this.track);
            }
        });
    </script>
</polymer-element>